@import './variables.scss';

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

/* Base SCSS */

* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-family;
  font-size: $font-size-base;
  color: $base-font-color;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $white-color;
}

h1,
h2,
h3,
h4,
p, figure {
  color: $white-color;
  font-weight: 300;
}

p {
  color: $white-color;
  font-size: 1.1rem;
  line-height: 2;
  font-weight: 100;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  a:hover, a:focus {
    text-decoration: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
  }
}

img {
  height: auto;
  max-width: 100%;
}