@import './variables.scss';

.footer {
   min-height: 100%;
   color: rgb(0, 0, 0);
   background-color: rgb(250, 250, 250);
   &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-basis: 33%; height: 270px;
      flex-shrink: 2;
   }
   &__item {
      display: flex;
   }
}