@import './variables';

.nav {
   height: 70px;
   width: 100%;
   background-color: hsl(0, 0%, 20%);
   display: flex;
   justify-content: center;
   position: fixed;
   padding: 0 1rem;
   z-index: 2;
   opacity: 0.67;
}

.logo {
   width: 70px;
   line-height:70px;
   color: $white-color;
}

.menu {
   display: flex;
   align-items: stretch;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   max-width: $page-content-width;
   width: 100%;
   opacity: 1;
   visibility: visible;
   &__item {
      padding: 0 1rem;
      line-height:70px;
   }
   &__link {
      color: $white-color;
      text-align: center;
      font-weight: 300;
      font-size: 1.1rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
         opacity: .65;
         transition-duration: 500ms;
      }
   }
}

.mobile-controls {
   padding: 1rem 1rem;
   display: none;
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.burger__row {
  width: 34px;
  height: 2px;
  background-color: $white-color;
  border-radius: 0;
  margin: 6px 0;
  transition: 0.4s;
}

.nav_opened .burger__row:first-child {
   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
   transform: rotate(-45deg) translate(-7px, 10px);
   transition: transform .4s;
 }

.nav_opened .burger__row:nth-child(2) {
   background-color: transparent;
   transition: transform .10ms;
}

.nav_opened .burger__row:last-child{
   -webkit-transform: rotate(45deg) translate(-8px, -8px);
   transform: rotate(45deg) translate(-1px, -5px);
   transition: transform .4s;
 }

@media (max-width: 575px) {
   .mobile-controls {
     display: flex;
   }
   .nav {
      justify-content: space-between;
      opacity: 0.99;
   }
   .menu {
         visibility: hidden;
         transform: scaleY(0);
         position: absolute;
         top: 70px;
         left: 0;
         display: block;
         background-color: transparent;
         padding: 0 34px;
         height: calc(100vh - 70px);
         transform-origin: top center;
         transition: all 500ms ease-in-out;
         &__item {
            opacity: 0;
            visibility: hidden;
            width: 100%;
            padding: 0;
         }
         &__link {
            padding: 1rem 0;
            border-bottom: 1px solid rgb(173, 152, 152);
            width: 100%;
      }
   }
   .nav_opened > .menu {
      visibility: visible;
      transform: scaleY(1);
      background-color: rgb(0, 0, 0);
   }
   .nav_opened .menu__item {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms;
      transition-delay: $transition-delay;
    }
}
