$base-font-family: 'Roboto', sans-serif;
$font-size-base: 14px;
$page-content-width: 960px;
$base-font-color: rgb(80, 80, 80);
$color-caption: rgb(47, 47, 47);
$paragrapg-color: rgb(86, 86, 86);
$white-color: rgb(255, 255, 255);